@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?fab625768aca549b9fd1c6ba0a2aaba5") format("truetype"),
url("./flaticon.woff?fab625768aca549b9fd1c6ba0a2aaba5") format("woff"),
url("./flaticon.woff2?fab625768aca549b9fd1c6ba0a2aaba5") format("woff2"),
url("./flaticon.eot?fab625768aca549b9fd1c6ba0a2aaba5#iefix") format("embedded-opentype"),
url("./flaticon.svg?fab625768aca549b9fd1c6ba0a2aaba5#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-active:before {
    content: "\f101";
}
.flaticon-add-user:before {
    content: "\f102";
}
.flaticon-algorithm:before {
    content: "\f103";
}
.flaticon-bar-chart-1:before {
    content: "\f104";
}
.flaticon-bar-chart-2:before {
    content: "\f105";
}
.flaticon-bar-chart:before {
    content: "\f106";
}
.flaticon-battery:before {
    content: "\f107";
}
.flaticon-bell:before {
    content: "\f108";
}
.flaticon-bill-1:before {
    content: "\f109";
}
.flaticon-bill-2:before {
    content: "\f10a";
}
.flaticon-bill:before {
    content: "\f10b";
}
.flaticon-business:before {
    content: "\f10c";
}
.flaticon-checklist:before {
    content: "\f10d";
}
.flaticon-city:before {
    content: "\f10e";
}
.flaticon-clipboard:before {
    content: "\f10f";
}
.flaticon-cloud:before {
    content: "\f110";
}
.flaticon-computer-1:before {
    content: "\f111";
}
.flaticon-computer:before {
    content: "\f112";
}
.flaticon-contract-1:before {
    content: "\f113";
}
.flaticon-contract-2:before {
    content: "\f114";
}
.flaticon-contract-3:before {
    content: "\f115";
}
.flaticon-contract:before {
    content: "\f116";
}
.flaticon-data-integration:before {
    content: "\f117";
}
.flaticon-data-processing:before {
    content: "\f118";
}
.flaticon-download-1:before {
    content: "\f119";
}
.flaticon-download-2:before {
    content: "\f11a";
}
.flaticon-download:before {
    content: "\f11b";
}
.flaticon-fax:before {
    content: "\f11c";
}
.flaticon-headphone:before {
    content: "\f11d";
}
.flaticon-headphones-1:before {
    content: "\f11e";
}
.flaticon-headphones:before {
    content: "\f11f";
}
.flaticon-inbox:before {
    content: "\f120";
}
.flaticon-increase:before {
    content: "\f121";
}
.flaticon-install:before {
    content: "\f122";
}
.flaticon-invoice:before {
    content: "\f123";
}
.flaticon-live-streaming:before {
    content: "\f124";
}
.flaticon-network:before {
    content: "\f125";
}
.flaticon-notification-1:before {
    content: "\f126";
}
.flaticon-notification-2:before {
    content: "\f127";
}
.flaticon-notification:before {
    content: "\f128";
}
.flaticon-online-course:before {
    content: "\f129";
}
.flaticon-paper-roll:before {
    content: "\f12a";
}
.flaticon-plastic-film:before {
    content: "\f12b";
}
.flaticon-presentation-1:before {
    content: "\f12c";
}
.flaticon-presentation-2:before {
    content: "\f12d";
}
.flaticon-presentation:before {
    content: "\f12e";
}
.flaticon-settings:before {
    content: "\f12f";
}
.flaticon-share:before {
    content: "\f130";
}
.flaticon-statistics:before {
    content: "\f131";
}
.flaticon-sustainable:before {
    content: "\f132";
}
.flaticon-tools:before {
    content: "\f133";
}
.flaticon-training:before {
    content: "\f134";
}
.flaticon-user-1:before {
    content: "\f135";
}
.flaticon-user-2:before {
    content: "\f136";
}
.flaticon-user:before {
    content: "\f137";
}
.flaticon-users:before {
    content: "\f138";
}
.flaticon-website:before {
    content: "\f139";
}
