<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/select/select2.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="~/fonts/iconFonts3/flaticon.css" />
    <link rel="stylesheet" href="~/css/spinner.css" />
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="~/fonts/iconFonts3/flaticon.css" />

    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="overlay-spinner">
        <div class="loader">Loading...</div>
    </div>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/select/select2.full.min.js"></script>
    <script src="~/js/select/form-select2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>



    @RenderSection("Scripts", required: false)

</body>
</html>