@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Core.ViewModel.RestaurantSearch
@using Core.DTO
<div class="MainPage">
    <div class="header">
        <form id="SearchForm" method="post" onsubmit="event.preventDefault(); return RestaurantSearch()" action="/Restaurant/SearchRestaurant">
            <div class="container-fluid">
                <h1>Restaurant Name</h1>
                <div class="SearchDiv">
                    <div class="row">
                        <div class="col-md pr-md-0 AddMrBottom">
                            <input type="text" asp-for="@Model.RestaurantName" class="form-control" placeholder="Restaurant Name" />
                        </div>
                        <div class="col-md pr-md-0 AddMrBottom">
                            @{

                                var Cities = ViewBag.Cities as List<CityDTO>;
                                var CitiesSelectList = new SelectList(Cities, "Id", "Name");
                            }
                            <select asp-for="@Model.CityId" class="select2 form-control" asp-items="CitiesSelectList">
                                <option selected disabled value="">Select City</option>

                            </select>
                        </div>

                        <div class="col-auto AddMrBottom">
                            <button type="submit" class="SearchBTN">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <section class="MenuCardsSection">
       </section>

</div>
@section Scripts{ 
    <script src="~/js/Restaurant.js"></script>
}