<h2>Your Data</h2>
<div class="row mt-4">
    <div class="col-md">
        <div class="DataText">
            <div>
                <i class="fas fa-user"></i>
            </div>
            <div>
                <h6>Name</h6>
                <p id="UserName">User Name</p>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="DataText">
            <div>
                <i class="fas fa-phone-alt"></i>
            </div>
            <div>
                <h6>Phone</h6>
                <p id="UserPhone">+20101234455</p>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="DataText">
            <div>
                <i class="far fa-envelope"></i>
            </div>
            <div>
                <h6>E-mail</h6>
                <p id="UserEmail">User Name</p>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="DataText">
            <div>
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div>
                <h6>Address</h6>
                <p id="UserAddress">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
</div>
<div class="Datatable mt-4">
    <table class="table table-bordered text-center" >
        <thead>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
        </thead>
        <tbody id="ProductList">
          
        </tbody>
    </table>
</div>
<div class="CheckOutDiv">
    <h6>Total</h6>
    <ul>
        <li>Subtotal <span id="SubTotal">118.00$</span></li>
        <li>Total <span id="Total">118.00$</span></li>
    </ul>

   
</div>
