@model Core.DTO.RestaurantDTO

<div class="row">
  
        @foreach (var product in Model.ProductList)
        {

            <div class="col-md-6">
                <div class="media">
                    <img class="mr-3" src="/img/food1.jfif" alt="Generic placeholder image">
                    <div class="media-body">
                        <div>
                            <h5 class="mt-0"><input type="checkbox" class="productCheck" productId="@product.Id"> @product.Name</h5>
                        </div>
                        <p class="MenuDesc">
                            @product.Description
                        </p>
                        <div class="triangleBottomright">
                            <span class="price">@product.Price$</span>
                        </div>
                    </div>
                </div>
            </div>
        }
   
    
</div>