<div class="row">
    <div class="col-md">
        <div class="LeftDiv">
            <h2>Resewe Now</h2>
            <p class="mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
                <div class="row mt-4">
                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="User.Name" id="Name" placeholder="Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fas fa-pencil-alt"></i></span>
                            </div>
                        </div>
                        <span id="SpanName" class="text-danger"></span>

                    </div>
                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="User.Phone" id="Phone" placeholder="Phone" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fas fa-phone-alt"></i></span>
                            </div>

                        </div>
                        <span id="SpanPhone" class="text-danger"></span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control"  name="User.Email" id="Email" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-envelope"></i></span>
                            </div>

                        </div>
                        <span id="SpanEmail" class="text-danger"></span>

                    </div>
                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="Address" name="User.Address" placeholder="Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fas fa-map-marker-alt"></i></span>
                            </div>

                        </div>
                        <span id="SpanAddress" class="text-danger"></span>

                    </div>
                </div>
       
        </div>
    </div>
    <div class="col-md">
        <div class="rightDiv">
            <h3><span>Today</span> Special</h3>
            <div class="PriceDiv" id="TotalPrice">12.00$</div>
            <h6>Food Title</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div>
                <img src="~/img/bg1.jfif" style="width: 100%">
            </div>
        </div>
    </div>
</div>